<div class="seventwitter columns">
		<h1>Styles and Examples </h1>
		<h2> Examples </h2>
		<p> Memorable quotes from <a href= "http://www.github.com">any project</a> </p>
		
		<p class="quote">My lethal weapon is my Card</p>
		
			
		<h2>Styles</h2>
		<h3>Header 3</h3>
		<h4>Header 4</h4>
		<p> Now let's add a table</p>
		<table>
			<tr>
				<th>Name </th><th>Score </th><th> Change</th>
			</tr>
			<tr>
				<td> Bob</td>	<td> 1</td>	<td> -5 </td>
			</tr>	
				<tr>
					<td> Carl</td>	<td> 4</td>	<td> +2 </td>
				</tr>
		</table>	
</div>		
