// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand {
	font-weight: bold;
	line-height: 2em;
	margin-left: 10px;
}

.quote {
	font: {
		family: times, serif;
		size: 2em;
		weight: bold;	
	}
}