// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand {
	font-weight: bold;
	line-height: 2em;
	margin-left: 10px;
}

.quote {
	font: {
		family: Georgia;
		style:italic;
		size: 2em;
		weight: bold;			
	
	}
	color: #000;
	line-height: 1.2em;
	margin-top:1em;
}

.tweetster{
color: #999;
}

.footer {
	padding-top:2em;
	color: #222;
}

copyright {

	color: #F00;
}

