
<footer class="row footer">
<hr/>
		<div class="five columns">
			<h6>A bunch of footer notes</h6>
			<p>Wall quotes radiates memorable tweets based on search terms.</p>
		</div>
		<div class="four columns">
			<h6>More footer notes</h6>
			<p>Wall quotes uses Zurb foundation</p>
		</div>
		<div class="three columns">
			<h6>More</h6>
			<p>&copy;Copyright 2012</p>
		</div>
</footer>	

