<div class="brand">What a LOGO</div>
<ul class="nav-bar">
	<li> <%= link_to "Home", root_path %> </li>
	<li> <%= link_to "Quote Wall", wall_path %> </li>
	<li> <a href="/projects">Projects</a> </li>
	<li> <%= link_to "About", about_path %> </li>
	<li> <%= link_to "Styles", styles_path %> </li>
</ul>